/* * {
    margin: 50;
    padding: 50;
    box-sizing: border-box;
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: cadetblue;
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
}

.weather-widget {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
    background: cadetblue;
  }
  
  /** weather widget */
  .card {
    background: #000000d0;
    color: #fcf9f9;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }

/* body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: cadetblue;
    font-family: sans-serif;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap

} */

.location, .temperature {
    height: 30vh;
    width: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
font-size: 40px;
}

